<h2 class="content-header">Student Register Section</h2>
<hr />

<form name="vm.StudentRegisterForm" novalidate ng-submit="vm.register()">

    <div class="ui-error-container" ng-if="vm.StudentRegisterForm.submitted && vm.StudentRegisterForm.$invalid">
        <div ng-messages="vm.StudentRegisterForm.FirstName.$error">
            <span ng-message="required">The FirstName field is required.</span>
        </div>
        <div ng-messages="vm.StudentRegisterForm.LastName.$error">
            <span ng-message="required">The LastName field is required.</span>
        </div>
        <div ng-messages="vm.StudentRegisterForm.Program.$error">
            <span ng-message="required">The Program field is required.</span>
        </div>
        <div ng-messages="vm.StudentRegisterForm.Batch.$error">
            <span ng-message="required">The Batch field is required.</span>
        </div>
        <div ng-messages="vm.StudentRegisterForm.IdCardNumber.$error">
            <span ng-message="required">The IdCard field is required.</span>
            <span ng-message="pattern">The IdCard field is invalid.</span>
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-6 columns">
            <label>First Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="vm.student.firstName" name="FirstName" required />
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Last Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="vm.student.lastName" name="LastName" required />
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Program <span class="red required-star">*</span></label>
            <select name="Program" ng-model="vm.student.program" ng-options="option for option in vm.programs" required>
                <option value="">Choose Program</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Batch <span class="red required-star">*</span></label>
            <select name="Batch" ng-model="vm.student.batch" ng-options="option for option in vm.batches" required>
                <option value="">Choose Batch</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Id Card <span class="red required-star">*</span></label>
            <input placeholder="e.g 03305817" type="text" ng-model="vm.student.idCardNumber" name="IdCardNumber" required pattern="^[0-9]{6,15}$" ng-pattern="/^[0-9]{6,15}$/" />
        </div>
    </div>

    <button type="submit" class="button small medium-2 left">Register</button>

    <div class="spinner inline-spinner left" ng-if="vm.addingStudent">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>