<h2 class="content-header">Student Update Section</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/students">Students</a></li>
    <li class="current"><a>Details</a></li>
</ul>

<form name="vm.StudentEditForm" novalidate ng-submit="vm.update()">

    <div class="ui-error-container" ng-if="vm.StudentEditForm.submitted && vm.StudentEditForm.$invalid">
        <div ng-messages="vm.StudentEditForm.FirstName.$error">
            <span ng-message="required">The FirstName field is required.</span>
        </div>
        <div ng-messages="vm.StudentEditForm.LastName.$error">
            <span ng-message="required">The LastName field is required.</span>
        </div>
        <div ng-messages="vm.StudentEditForm.Program.$error">
            <span ng-message="required">The Program field is required.</span>
        </div>
        <div ng-messages="vm.StudentEditForm.Batch.$error">
            <span ng-message="required">The Batch field is required.</span>
        </div>
        <div ng-messages="vm.StudentEditForm.IdCardNumber.$error">
            <span ng-message="required">The IdCard field is required.</span>
            <span ng-message="pattern">The IdCard field is invalid.</span>
        </div>
    </div>

    <input type="hidden" ng-value="vm.student.id" name="Id" required />

    <div class="row">
        <div class="small-12 large-6 columns">
            <label>First Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="vm.student.firstName" name="FirstName" required />
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Last Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="vm.student.lastName" name="LastName" required />
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Program <span class="red required-star">*</span></label>
            <select name="Program" ng-model="vm.student.program" ng-options="option for option in vm.programs" required>
                <option value="">Choose Program</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Batch <span class="red required-star">*</span></label>
            <select name="Batch" ng-model="vm.student.batch" ng-options="option for option in vm.batches" required>
                <option value="">Choose Batch</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Id Card <span class="red required-star">*</span></label>
            <input placeholder="e.g 033 05817" type="text" ng-model="vm.student.idCardNumber" name="IdCardNumber" required ng-pattern="/^[0-9]{6,15}$/" pattern="^[0-9]{6,15}$" />
        </div>
    </div>

    <button type="submit" class="button medium-2">Update</button>
    <div class="spinner inline-spinner left" ng-if="vm.editingStudent">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>

<div class="clearfix"></div>

<div ng-if="!vm.transactions || !vm.transactions.length">
    <div class="primary callout">No transaction found!</div>
</div>

<div ng-if="vm.transactions && vm.transactions.length">
    <div id="student-transaction-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>BookId</th>
                    <th>Borrowed Date</th>
                    <th>Last Submission Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transaction in vm.transactions">
                    <td>{{$index + 1}}</td>
                    <td class="text-center"><a ng-href="#/books/{{transaction.bookId}}">{{transaction.bookId}}</a></td>
                    <td>{{transaction.formattedBorrowedDate}}</td>
                    <td>{{transaction.formattedLastSubmissionDate}}</td>
                    <td>{{transaction.status}}</td>
                    <td><a ng-href="#/transactions/{{transaction.id}}">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>