<div class="sidebar">
    <h5>Quick Navigation</h5>
    <form>
        <input type="search" placeholder="Search book" />
    </form>
    <ul class="side-nav">
        <li><h4 class="subheader">Student</h4></li>
        <li><a href="#/student/register">All Student</a></li>
        <li><a href="#/student/register">Register Student</a></li>
        <li class="divider"></li>
        <li><h4 class="subheader">Books</h4></li>
        <li><a href="#/book/upload/">Upload New Book</a></li>
        <li class="divider"></li>
        <li><h4 class="subheader">Settings</h4></li>
        <li><a href="#/library/rules/">Library Rules</a></li>
    </ul>
</div>