<h2 class="content-header">Upload a Book</h2>
<hr />

<form name="BookAddForm" novalidate data-abide>
    <input type="hidden" name="ImageFileName" value="not_found.png" />
    <div class="row">
        <div class="large-6 columns">
            <label>Title <span class="red required-star">*</span></label>
            <input type="text" ng-model="book.Title" name="Title" required />
            <small class="error">The Title field is required.</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Author <span class="red required-star">*</span></label>
            <input type="text" ng-model="book.Author" name="Author" required />
            <small class="error">The Author field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <label>Category <span class="red required-star">*</span></label>
            <select ng-model="book.CategoryId" ng-options="option.CategoryId as option.Title for option in categories" required>
                <option value="">Choose one</option>
            </select>
            <input type="hidden" name="CategoryId" ng-value="book.CategoryId" required />
            <small class="error">The Category field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <label>Book Quantity <span class="red required-star">*</span></label>
            <select ng-model="book.Quantity" ng-options="option for option in bookQuantities" required>
                <option value="">Select Quantity</option>
            </select>
            <input type="hidden" name="Quantity" ng-value="book.Quantity" required />
            <small class="error">The Book Quantity field is required.</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Short Description</label>
            <textarea placeholder="Short Description. e.g main topic, category etc." ng-model="book.ShortDescription" name="ShortDescription" ng-maxlength="500"></textarea>
            <small class="error">The ShortDescription field must be at most 500 characters long.</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Book Rating</label>
            <div cd-rating-input></div>
            <p style="color: #27ae60;">Rating: <span id="Rating"></span></p>
        </div>
    </div>
    <br />

    <button type="submit" class="button small medium-2 left" ng-click="add()">Add</button>
    <div class="spinner inline-spinner left" ng-if="fetchInProgress">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>