<hr />

<div class="panel callout radius">
    <h5>{{book.Title}}</h5>
    <p>By <a ng-href="#/authors">{{book.Author}}</a></p>
</div>

<div class="row">
    <div class="small-3 large-3 columns">
        <img ng-src="/Content/Images/{{book.ImageFileName}}" alt="{{book.Title}}" />
    </div>
    <div class="small-9 large-9 columns">
        <div class="row">
            <div class="small-12 large-12 columns">
                <p>{{book.ShortDescription}}</p>
                <span ng-if="book.Rating">
                    Rating: <span cd-rating="{{book.Rating}}"></span>
                </span>
            </div>
            <div class="small-5 medium-5 columns">
                
                <a ng-href="#/account/login" ng-hide="authenticatedUser.IsAuthenticated">
                    <i class="fi-lock"></i>
                    Login to edit this book
                </a>
                <a ng-href="#/books/edit/{{book.Id}}" ng-show="authenticatedUser.IsAuthenticated">
                    <i class="fi-page-edit"></i>
                    Edit this book
                </a>
            </div>
        </div>
    </div>
</div>

<hr />

<h3>What you’ll learn</h3>

<ul>
    <li>automating testing and deployment of your application using Visual Studio 2012 and Team Foundation Server</li>
    <li>designing and developing your application for Internet scale</li>
    <li>deploying to the cloud, working with Big Data and adding resiliency to your application’s components</li>
    <li>migrating a project from ASP.NET web forms to the MVC 4 including recipes for converting DataGrids, Forms, Web Parts, Master Pages and navigation controls</li>
    <li>Client side data binding and templating  techniques using Web API, Knockout.js and jQuery</li>
    <li>using the Web API to design web services that can be consumed by mobile devices and tablets running Android, iOS, and Windows 8</li>
</ul>

<h3>Who this book is for</h3>

<p>This book is a problem-solution guide for web developers looking for a better way to build a modern web application on the Microsoft platform.</p>

There are several types of developers that would find this material useful:
<ul>
    <li>
        veteran ASP.NET Web Forms developers who wish to update their skillset to include ASP.NET MVC
    </li>
    <li>
        Project teams who wish to modernize an existing application to allow it to take advantage of MVC 4, .NET 4.5, and Windows Azure
    </li>
    <li>Novice web developers who are looking to expand their skill set by learning the Microsoft web development stack</li>
</ul>