<button class="button loan-button" data-reveal-id="BorrowModal" ng-show="displayBorrowButton()" ng-click="resetBorrowSection()">Borrow</button>

<div id="BorrowModal" class="reveal-modal tiny" data-reveal>
    <h3>{{book.title}}</h3>
    <p class="lead">Search for a student.</p>
    <div class="bouncespinner" ng-show="searchStudentInProgress">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div></div>
    </div>
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="search" ng-model="data.idCardNumber" placeholder="ID Card" />
        </div>
        <div class="small-2 columns">
            <button class="button postfix" ng-click="searchStudent()">Search</button>
        </div>
    </div>
    <div ng-if="!searchedStudent.id" class="error-message">
        No record found! Try again.
    </div>
    <div ng-if="searchedStudent.id">
        <table>
            <thead>
                <tr>
                    <th width="240">Name</th>
                    <th width="20">Batch</th>
                    <th width="180">ID Card</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{searchedStudent.firstName}} {{searchedStudent.lastName}}</td>
                    <td>{{searchedStudent.batch}}</td>
                    <td>{{searchedStudent.program}} {{searchedStudent.idCardNumber}}</td>
                </tr>
            </tbody>
        </table>
        <button ng-disabled="!book.bookId || !searchedStudent.id" class="success full-width" ng-click="borrowBook(searchedStudent.id, book.bookId)">Borrow The Book</button>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<h2 class="content-header">Book Information</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/books">Books</a></li>
    <li class="current"><a>Details</a></li>
</ul>

<div class="panel callout radius">
    <h5>{{book.title}}</h5>
    <p>By {{book.author}}</p>
</div>

<div class="row">
    <div class="small-3 large-3 columns">
        <img ng-src="/Content/Images/{{book.imageFileName}}" alt="{{book.title}}" />
        <br /><br />
        <span class="green">Total Copy: {{book.quantity}}</span>
        <p class="green">Available: {{book.availableQuantity}}</p>
    </div>
    <div class="small-9 large-9 columns">
        <div class="row">
            <div class="small-12 large-12 columns">
                <p>{{book.shortDescription}}</p>
                <span ng-if="book.Rating">
                    Rating: <span cd-rating="{{book.rating}}"></span>
                </span>
                <p>
                    Category: <a ng-href="#/books/category/{{book.categoryId}}">{{book.categoryTitle}}</a>
                </p>
            </div>
            <div class="small-5 medium-5 columns">
                <a ng-click="loginToEditBook()" ng-hide="authenticatedUser.isAuthenticated">
                    <i class="fi-lock"></i>
                    Login to edit this book
                </a>
                <a ng-href="#/books/edit/{{book.bookId}}" ng-show="authenticatedUser.isAuthenticated">
                    <i class="fi-page-edit"></i>
                    Edit this book
                </a>
            </div>
        </div>
    </div>
</div>

<hr />

<div ng-if="book.longDescription">{{book.longDescription}}</div>

<div ng-if="!book.LongDescription">
    <h3>What you’ll learn</h3>

    <ul>
        <li>automating testing and deployment of your application using Visual Studio 2012 and Team Foundation Server</li>
        <li>designing and developing your application for Internet scale</li>
        <li>deploying to the cloud, working with Big Data and adding resiliency to your application’s components</li>
        <li>migrating a project from ASP.NET web forms to the MVC 4 including recipes for converting DataGrids, Forms, Web Parts, Master Pages and navigation controls</li>
        <li>Client side data binding and templating  techniques using Web API, Knockout.js and jQuery</li>
        <li>using the Web API to design web services that can be consumed by mobile devices and tablets running Android, iOS, and Windows 8</li>
    </ul>

    <h3>Who this book is for</h3>

    <p>This book is a problem-solution guide for web developers looking for a better way to build a modern web application on the Microsoft platform.</p>

    There are several types of developers that would find this material useful:

    <ul>
        <li>
            veteran ASP.NET Web Forms developers who wish to update their skillset to include ASP.NET MVC
        </li>
        <li>
            Project teams who wish to modernize an existing application to allow it to take advantage of MVC 4, .NET 4.5, and Windows Azure
        </li>
        <li>Novice web developers who are looking to expand their skill set by learning the Microsoft web development stack</li>
    </ul>
</div>