<h2 class="content-header">Update Book Information</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/books">Books</a></li>
    <li><a ng-href="#/books/book/{{book.BookId}}">Details</a></li>
    <li class="current"><a>Edit</a></li>
</ul>

<form name="BookEditForm" novalidate data-abide>
    <input type="hidden" name="BookId" ng-value="book.BookId" required />
    <input type="hidden" name="Rating" ng-value="book.Rating" />
    <input type="hidden" name="Quantity" ng-value="book.Quantity" required />
    <input type="hidden" name="ImageFileName" ng-value="book.ImageFileName" required />
    <div class="row">
        <div class="large-6 columns">
            <label>Title <span class="red required-star">*</span></label>
            <input type="text" ng-model="book.Title" name="Title" required />
            <small class="error">The Title field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Author <span class="red required-star">*</span></label>
            <input type="text" ng-model="book.Author" name="Author" required />
            <small class="error">The Author field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns">
            <label>Category <span class="red required-star">*</span></label>
            <select ng-model="book.CategoryId" ng-options="option.CategoryId as option.Title for option in categories" required></select>
            <input type="hidden" name="CategoryId" ng-value="book.CategoryId" />
            <small class="error">The Category field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-7 columns">
            <label>Short Description</label>
            <textarea placeholder="Short Description. e.g main topic, category etc." ng-model="book.ShortDescription" name="ShortDescription" ng-maxlength="500"></textarea>
            <small class="error">The ShortDescription field must be at most 500 characters long.</small>
        </div>
    </div>

    <button type="submit" class="button small medium-3 left" ng-click="update()">Update</button>
    <div class="spinner inline-spinner left" ng-if="fetchInProgress">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>