<h2 class="content-header">All Books</h2>
<hr />

<div ng-if="!books" class="block text-center red"><strong>Sorry, no category found!</strong></div>

<div id="book-container" ng-if="books">
    <input type="search" ng-model="searchText" placeholder="filter: e.g name, author" />
    <div ng-repeat="book in books | filter:searchText" class="book-wrapper">
        <a ng-href="#/books/book/{{book.Id}}">
            <img ng-src="/Content/Images/{{book.ImageFileName}}" alt="{{book.Title}}" />
        </a>
        <div class="book-footer text-center">
            <strong data-cd-book-status="{{book.StatusId}}"></strong>
        </div>
    </div>
</div>