<h3 class="content-header">Category Edit Form</h3>
<hr />

<form name="CategoryEditForm" novalidate ng-submit="updateCategory(editableCategory)">
    <div class="ui-error-container" ng-if="CategoryEditForm.submitted && CategoryEditForm.$invalid">
        <div ng-messages="CategoryEditForm.Title.$error">
            <span ng-message="required">The Title field is required.</span>
        </div>
    </div>

    <input type="hidden" ng-value="editableCategory.id" name="CategoryId"/>

    <div class="row">
        <label>Title <span class="red required-star">*</span></label>
        <input type="text" ng-model="editableCategory.title" name="Title" required/>
    </div>
    <button type="submit" class="tiny full-width">Update</button>
</form>