<h3 class="content-header">Category Add Form</h3>
<hr />

<form name="CategoryAddForm" novalidate ng-submit="addCategory()">
    <div class="ui-error-container" ng-if="CategoryAddForm.submitted && CategoryAddForm.$invalid">
        <div ng-messages="CategoryAddForm.Title.$error">
            <span ng-message="required">The Title field is required.</span>
        </div>
    </div>

    <div class="row">
        <label>Title <span class="red required-star">*</span></label>
        <input type="text" ng-model="category.title" name="Title" required/>
    </div>
    <button type="submit" class="tiny full-width">Add</button>
</form>