<h2 class="content-header">Book Categories</h2>
<hr />

<button ng-disabled="!authenticatedUser.hasRegistered" ng-show="authenticatedUser.hasRegistered" class="success tiny" data-reveal-id="CategoryAddModal">Add New Category</button>

<div ng-if="!vm.categories" class="block text-center red"><strong>Sorry, no category found!</strong></div>

<div ng-if="vm.fetchingCategories">
    <div class="spinner">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div id="category-container" ng-if="vm.categories">
    <input type="search" ng-model="vm.searchText" placeholder="Filter Category" />
    <div ng-repeat="category in vm.categories | filter: vm.searchText" class="categoryBlock">
        <h5 class="category-header">{{category.title}} <small class="green">({{category.count}})</small></h5>
        <hr />
        <footer class="pull-right">
            <a ng-href="#/categories/{{category.id}}/books" class="button tiny">
                View
            </a>
            <a ng-show="authenticatedUser.hasRegistered" class="button tiny" ng-click="vm.initCategoryEditForm(category)">
                Edit
            </a>
        </footer>
    </div>
</div>

<div id="CategoryAddModal" class="reveal-modal tiny" data-reveal>
    <div data-cd-category-add-form></div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="CategoryEditModal" class="reveal-modal tiny" data-reveal>
    <div data-cd-category-edit-form></div>
    <a class="close-reveal-modal">&#215;</a>
</div>