body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.sidebar-menu.menu {
    background: none repeat scroll 0 0 #FAFAFA;
}

.sidebar-menu.menu a {
    font-size: 0.85rem;
    padding: 0.5rem 0;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-menu a:hover {
    background: #000000 none repeat scroll 0 0;
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
}

.sidebar-menu-title {
    color: #999;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding-left: 10px;
    padding-top: 20px;
    text-transform: uppercase;
    border-top: 1px solid #e9e9e9;
}

.content {
    min-height: 608px !important;
    background-color: #2C3E50;
}

.callout h5 {
    color: #333 !important;
}

.content h1, .content h2 , .content h3, .content h5, .content label, .content li {
    color: white;
}

#widemenu.top-bar, #widemenu.top-bar ul {
    padding: 0 !important;
    background-color: #333 !important;
}

#widemenu .menu a {
    height: 45px;
    color: #e6e6e6;
    font-size: 0.8125rem;
    line-height: 45px !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
#widemenu .topbar-title > a {
    font-size: 1rem;
    opacity: 0.9;
}

.ui-error-container {
    background-color: #f1d7d7;
    color: #a95252;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    list-style: none outside none;
    margin-left: 0;
    padding: 10px;
    margin-bottom: 20px;
}
.ui-error-container div {
    -webkit-box-shadow: 0.3em 0 0 0 #d95c5c inset;
    -ms-box-shadow: 0.3em 0 0 0 #d95c5c inset;
    box-shadow: 0.3em 0 0 0 #d95c5c inset;
    margin-bottom: 10px;
    padding-left: 10px;
}

.ui-error-container div:last-child {
    margin-bottom: 0;
}

footer.credit {
    color: #FFFFFF !important;
    padding: 15px;
}

footer.credit a, footer.credit a:hover {
    text-decoration: underline;
    color: #FFFFFF !important;
}

footer.credit a:hover {
    text-decoration: none;
}

#wrapper {
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #ECF0F1;
}

#LoginForm .row {
    margin-bottom: 20px;
}

.book-wrapper a {
    text-decoration: none;
    color: #CCCCCC;
}

.books {
    float: left;
    margin-bottom: 25px;
    margin-right: 10px;
    width: 140px;
}

.latest-books {
    float: left;
    margin-bottom: 15px;
    margin-right: 20px;
}

.latest-books:last-child {
    margin-right: 0;
}

.book-body {
    background-color: #000000;
    height: 160px;
    text-align: center;
    width: 122px;
}

.book-footer {
    font-size: 13px;
    margin-top: 10px;
}

#student-table table, #transaction-table table, #student-transaction-table table {
    width: 100%;
}

.book-long-description, .book-short-description, .transaction-details {
    color: white;
}

.red {
    color: #C0392B;
}
.green {
    color: #16A085;
}
.note {
    color: #e67e22;
}

.required-star {
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
}

.topbar-app-info {
    color: #FFFFFF;
}

textarea {
    min-height: 150px;
}

select.error {
    margin: 0;
}

.categoryBlock {
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 30px;
    padding: 10px 10px 0;
    width: 235px;
}

.pull-right {
    float: right;
}

h5.category-header {
    color: #FF9900;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.block {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 50px;
}

h2.content-header {
    line-height: 50px;
}

.widget {
    margin-bottom: 15px;
}
.widget-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 0, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #C9C9C9;
    -webkit-border-image: none;
    -moz-border-image: none;
    -ms-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -ms-box-shadow: 0 1px 0 #FFFFFF inset;
    box-shadow: 0 1px 0 #FFFFFF inset;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
.widget-header h4 {
    color: #222222 !important;
}
.widget-body {
    background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -ms-box-shadow: 0 1px 0 #FFFFFF inset;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 15px 15px 0;
}

.upload-preview-wrapper {
    height: 180px;
    padding: 5px;
    width: 70%;
    text-align: center;
    border: 4px solid #fff;
}

.upload-preview-wrapper img {
    height: 160px;
}

.error-message {
    color: #D35400;
    font-weight: bold;
}
#CategoryAddModal, #CategoryEditModal {
    width: 420px !important;
    padding: 15px !important;
}

#BorrowModal .search-label {
    margin-bottom: 10px;
}

.img-border {
    display: inline-block;
    border-radius: 3px;
    max-width: 100%;
    border: 4px solid #fff;
}

/* Small screens */

@media only screen and (max-width: 40em) {
    .row .row {
        margin: 0 auto;
    }

    .loan-button {
        height: 30px;
        margin-left: 77%;
        padding: 0;
        width: 70px;
    }

    #wrapper {
        border-left: none;
    }

    h2.content-header {
        font-size: 18px;
        line-height: 30px;
    }

    footer.credit {
        font-size: 12px;
        line-height: 14px;
    }

    .widget .widget-header, .widget .widget-body, .column, .columns {
        padding-left: 5px;
        padding-right: 5px;
    }

    .widget-body .latest-books {
        margin-right: 5px;
    }

    .latest-books .book-body {
        width: 112px;
    }

    hr {
        margin: 10px 0;
    }

    #category-container .categoryBlock {
        width: 100% !important;
        margin-right: 0 !important;
        height: 115px;
    }
    #category-container .categoryBlock footer {
        margin-top: 22px;
    }

    .reveal-modal {
        min-height: 0;
    }

    #category-container .categoryBlock .button.tiny {
        margin-bottom: 0;
        padding: 5px 10px;
    }

    .book-wrapper .books {
        margin-right: 5px;
        width: 135px;
    }

    #student-table table, #transaction-table table, #student-transaction-table table {
        margin-bottom: 0;
    }

    #student-table {
        margin-bottom: 15px;
    }

    #student-table, #transaction-table, #student-transaction-table {
        overflow-x: auto !important;
        overflow-y: hidden !important;
    }

    #CategoryAddModal, #CategoryEditModal, #BorrowModal {
        width: 100% !important;
    }

    #BorrowModal {
        padding: 10px;
    }

    #BorrowModal .search-label {
        margin-bottom: 8px;
        font-size: 13px;
    }

    #BorrowModal .modal-title {
        font-size: 12px;
        font-weight: bold;
    }
}

/***** OVERRIDE *****/

.toast-message {
    font-size: 12px;
}

.breadcrumbs {
    padding: .5625rem .875rem;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}