<button class="button loan-button" ng-disabled="cleared" ng-click="receiveBook(transactionDetail.Id)" ng-show="authenticatedUser.IsAuthenticated && transactionDetail.IsActive">Click to receive</button>

<h2 class="content-header">Transaction Details</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/transactions">Transactions</a></li>
    <li class="current"><a>Details</a></li>
</ul>

<div ng-if="!transactionDetail" class="block text-center red"><strong>Sorry, No transaction history found!</strong></div>

<div ng-if="transactionDetail">
    <div class="panel callout radius">
        <h4>Transaction Details</h4>
    </div>

    <h5>Borrowed Date: {{transactionDetail.FormattedBorrowedDate}}</h5>
    <h5>Last Submission Date: {{transactionDetail.FormattedLastSubmissionDate}}</h5>
    <h5>Status: {{transactionDetail.Status}}</h5>
    <h5>IsActive: {{transactionDetail.IsActive}}</h5>

    <div class="panel callout radius">
        <h4>Book Details</h4>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="small-7 large-7 columns">
            <h5>{{transactionDetail.Book.Title}}</h5>
            <p>By {{transactionDetail.Book.Author}}</p>
            <span ng-if="transactionDetail.Book.Rating">
                Rating: <span cd-rating="{{transactionDetail.Book.Rating}}"></span>
            </span>
            <p>
                Category: <a ng-href="#/books/category/{{transactionDetail.Book.Category.CategoryId}}">{{transactionDetail.Book.Category.Title}}</a>
            </p>
            <p>
                <a ng-href="#/books/book/{{transactionDetail.Book.BookId}}">More Details</a>
            </p>
        </div>
        <div class="small-5 large-5 columns">
            <div class="book-body">
                <img ng-src="/Content/Images/{{transactionDetail.Book.ImageFileName}}" alt="{{transactionDetail.Book.Title}}" />
            </div>
        </div>
    </div>

    <div class="panel callout radius">
        <h4>Borrower Details</h4>
    </div>

    <h5>Name: {{transactionDetail.Student.FirstName}} {{transactionDetail.Student.LastName}}</h5>
    <h5>Id Card: {{transactionDetail.Student.IdCardNumber}}</h5>
    <h5>Batch: {{transactionDetail.Student.Batch}}</h5>
    <h5>Program: {{transactionDetail.Student.Program}}</h5>
    <p>
        <a ng-href="#/students/student/{{transactionDetail.Student.Id}}">More Details</a>
    </p>
</div>