<div class="sidebar hide-for-small">
    <h3>Quick Links</h3>
    <ul class="side-nav">
        <li class="divider"></li>
        <li><h4 class="subheader">Home</h4></li>
        <li>
            <a ng-href="#/">Home <i class="fi-home"></i></a>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Student</h4></li>
        <li>
            <a ng-click="checkForPermisssionBefore('/students/')">All Student</a>
            <span class="red required-star">*</span>
        </li>
        <li>
            <a ng-click="checkForPermisssionBefore('/students/add/')">Register Student</a>
            <span class="red required-star">*</span>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Book Section</h4></li>
        <li><a ng-href="#/books">All Books</a></li>
        <li><a ng-href="#/categories">Category</a></li>
        <li>
            <a ng-click="checkForPermisssionBefore('/books/add/')">Upload New Book</a>
            <span class="red required-star">*</span>
        </li>
        <li>
            <a ng-click="checkForPermisssionBefore('/transactions/')">Transaction History</a>
            <span class="red required-star">*</span>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Settings</h4></li>
        <li>
            <a ng-click="notImplemented()">
                App Settings
                <i class="fi-wrench"></i>
            </a>
            <span class="red required-star">*</span>
        </li>
    </ul>
    <p><small class="red">* Requires Login</small></p>
</div>