<h2 class="content-header">Welcome to BookArena</h2>
<hr />

<div class="widget">
    <div class="widget-header"><h4>Latest Books</h4></div>
    <div class="widget-body">
        <div ng-if="fetchInProgress">
            <div class="spinner">
                <div></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div ng-repeat="book in latestBooks" class="latest-books">
            <div class="book-body">
                <a ng-href="#/books/book/{{book.Id}}">
                    <img ng-src="/Content/Images/{{book.ImageFileName}}" alt="{{book.Title}}" />
                </a>
            </div>
            <div class="book-footer text-center">
                <div data-cd-book-status="{{book.StatusId}}"></div>
            </div>
        </div>
    </div>
</div>

<div class="widget">
    <div class="widget-header"><h4>Pie Chart - Inventory category</h4></div>
    <div class="widget-body">
        <div id="chart"></div>
    </div>
</div>