<h2 class="content-header">Student Register Section</h2>
<hr />

<form name="StudentRegisterForm" novalidate data-abide>
    <div class="row">
        <div class="large-6 columns">
            <label>First Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="student.firstName" name="FirstName" required />
            <small class="error">The FirstName field is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <label>Last Name <span class="red required-star">*</span></label>
            <input type="text" ng-model="student.lastName" name="LastName" required />
            <small class="error">The LastName is required</small>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <label>Program <span class="red required-star">*</span></label>
            <select ng-model="student.program" ng-options="option for option in programs" required>
                <option value="">Choose Program</option>
            </select>
            <input type="hidden" name="Program" ng-value="student.program" required />
            <small class="error">The Program field is required</small>
        </div>
        <div class="large-4 columns">
            <label>Batch <span class="red required-star">*</span></label>
            <select ng-model="student.batch" ng-options="option for option in batches" required>
                <option value="">Choose Batch</option>
            </select>
            <input type="hidden" name="Batch" ng-value="student.batch" required />
            <small class="error">The Batch field is required</small>
        </div>
        <div class="large-4 columns">
            <label>Id Card <span class="red required-star">*</span></label>
            <input placeholder="e.g 03305817" type="text" ng-model="student.idCardNumber" name="IdCardNumber" required pattern="^[0-9]{1,15}$" ng-pattern="/^[0-9]{1,15}$/" />
            <small class="error">The Id Card field is invalid</small>
        </div>
    </div>

    <button type="submit" class="button small medium-2 left" ng-click="register()">Register</button>
    <div class="spinner inline-spinner left" ng-if="fetchInProgress">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>