<h2 class="content-header">All Registered Students</h2>
<hr />

<div ng-if="fetchInProgress">
    <div class="spinner">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>

<div ng-if="!students" class="block text-center red"><strong>Sorry, no student found!</strong></div>

<div id="student-container" ng-if="students">
    <input type="search" ng-model="searchText" placeholder="filter: e.g name, id" />
    <div id="student-table">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Program</th>
                    <th>Batch</th>
                    <th>Name</th>
                    <th>ID Card</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students | filter: searchText">
                    <td>{{$index + 1}}</td>
                    <td>{{student.program}}</td>
                    <td>{{student.batch}}</td>
                    <td>{{student.firstName}} {{student.lastName}}</td>
                    <td>{{student.idCardNumber}}</td>
                    <td><a ng-href="#/students/student/{{student.id}}">Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button class="button tiny medium-2" ng-disabled="!hasPrevious" ng-click="goToPage(previousPage)">Previous</button>
    <button class="button tiny medium-2" ng-disabled="!hasNext" ng-click="goToPage(nextPage)">Next</button>
</div>