<h2 class="content-header">Login Area</h2>

<div class="primary callout">
    Please login with the current credentials
</div>

<form name="vm.LoginForm" novalidate id="LoginForm" ng-submit="vm.login()">
    <div class="ui-error-container" ng-if="vm.LoginForm.submitted && vm.LoginForm.$invalid">
        <div ng-messages="vm.LoginForm.Email.$error">
            <span ng-message="required">The Email field is required.</span>
        </div>
        <div ng-messages="vm.LoginForm.Password.$error">
            <span ng-message="required">The Password field is required.</span>
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Email</label>
            <input type="email" ng-model="vm.user.email" id="Email" name="Email" required/>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-6 columns">
            <label>Password</label>
            <input type="password" ng-model="vm.user.password" id="Password" name="Password" required/>
        </div>
    </div>

    <button type="submit" class="button">Login</button>

    <div class="spinner inline-spinner left" ng-if="vm.loginInProgress">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>