<h2 class="content-header">Administrator Profile</h2>
<hr />

<div class="row">
    <div class="small-9 large-9 columns">
        <h5>Name: {{vm.projectInfo.author.name}}</h5>
        <h5>Website: <a href="{{vm.projectInfo.author.website}}" target="_blank">{{vm.projectInfo.author.website}}</a></h5>
        <h5>Twitter: <a ng-href="https://twitter.com/{{vm.projectInfo.author.twitter}}" target="_blank">{{vm.projectInfo.author.twitter}}</a></h5>
        <h5>Address: {{vm.projectInfo.author.address}}</h5>
    </div>
    <div class="small-3 large-3 columns">
        <a href="http://about.me/shibbir" class="img-border" target="_blank">
            <img ng-src="/Content/Images/{{vm.projectInfo.author.gravatar}}" alt="profile" />
        </a>
    </div>
</div>

<hr />

<h5>BookArena is a <a target="_blank" href="http://en.wikipedia.org/wiki/Single-page_application">SPA</a> based basic library management system built with these awesome tools:</h5>

<ul>
    <li ng-repeat="tool in vm.projectInfo.tools">
        <a target="_blank" href="{{tool.url}}">{{tool.title}}</a>
    </li>
</ul>