<h2 class="content-header">Welcome to BookArena</h2>
<hr />

<div class="widget">
    <div class="widget-header">
        <h4>Latest Books</h4>
    </div>
    <div class="widget-body clearfix">
        <div ng-if="vm.fetchingBooks">
            <div class="spinner">
                <div></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div ng-repeat="book in vm.latestBooks" class="latest-books">
            <div class="book-body">
                <a ng-href="#/books/{{book.bookId}}">
                    <img ng-src="{{book.imageFilePath}}" alt="{{book.title}}" />
                </a>
            </div>
            <div class="book-footer text-center">
                <div data-book-status="{{book.availableQuantity}}"></div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="widget">
    <div class="widget-header">
        <h4>Book Categories</h4>
    </div>
    <div class="widget-body">
        <div ng-if="vm.fetchingCategories">
            <div class="spinner">
                <div></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div id="bar-chart"></div>
    </div>
</div>