<div class="sidebar hide-for-small">
    <h3>Quick Links</h3>

    <ul class="vertical menu sidebar-menu">

        <li class="sidebar-menu-title">Home</li>

        <li>
            <a ng-href="#/">Home</a>
        </li>

        <li class="sidebar-menu-title">Student</li>
        <li>
            <a ng-href="#/students/">Registered students</a>
        </li>
        <li>
            <a ng-href="#/students/add/">Register new student</a>
        </li>

        <li class="sidebar-menu-title">Book Section</li>

        <li><a ng-href="#/books">Book list</a></li>
        <li><a ng-href="#/categories">Category</a></li>
        <li>
            <a ng-href="#/books/add/">Upload new book</a>
        </li>
        <li>
            <a ng-href="#/transactions/">Transaction history</a>
        </li>


        <li class="sidebar-menu-title">Settings</li>
        <li>
            <a ng-click="notImplemented()">
                App Settings
                <i class="fi-wrench"></i>
            </a>
        </li>
    </ul>
</div>