<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">×</span>
    </button>

    <ul class="mobile-ofc vertical menu">
        <li><a ng-href="#/">Home</a></li>

        <li class="title">Students</li>
        <li><a ng-href="#/students/">All Student</a></li>
        <li><a ng-href="#/students/add/">Register Student</a></li>

        <li class="title">Books</li>
        <li><a ng-href="#/books">All Books</a></li>
        <li><a ng-href="#/categories">Book Categories</a></li>
        <li><a ng-href="#/books/add/">Upload New Book</a></li>
        <li><a ng-href="#/transactions/">Transaction History</a></li>

        <li class="title">Settings</li>
        <li ng-if="!authenticatedUser.hasRegistered">
            <a ng-href="#/account/login/">
                Login
            </a>
        </li>
        <li ng-if="authenticatedUser.hasRegistered">
            <a ng-click="logout()">
                Logout
            </a>
        </li>
    </ul>
</div>
