<h2 class="content-header">Login Area</h2>

<div class="alert-box" data-alert>
    Please login with the current credentials
</div>

<form name="LoginForm" novalidate id="LoginForm" ng-submit="login(data)">
    <div class="row">
        <div class="large-12 columns">
            <label>Username</label>
            <input type="text" ng-class="LoginForm.UserName.$invalid ? 'error': 'success'" ng-model="data.userName" name="UserName" required />
            <small ng-if="LoginForm.UserName.$invalid && LoginForm.submitted" class="error">Invalid Username</small>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Password</label>
            <input type="password" ng-class="LoginForm.Password.$invalid ? 'error': 'success'" ng-model="data.password" name="Password" required />
            <small ng-if="LoginForm.Password.$invalid && LoginForm.submitted" class="error">Invalid Password</small>
        </div>
    </div>

    <button type="submit" class="button small medium-2 left">Login</button>
    <div class="spinner inline-spinner left" ng-if="fetchInProgress">
        <div></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</form>