<h2 class="content-header">Administrator Profile</h2>
<hr />

<div class="row">
    <div class="small-9 large-9 columns">
        <h3>Name: {{authenticatedUser.Name}}</h3>
        <h3>Website: <a href="{{authenticatedUser.Website}}" target="blank">{{authenticatedUser.Website}}</a></h3>
        <h3>Address: {{authenticatedUser.Address}}</h3>
    </div>
    <div class="small-3 large-3 columns">
        <a href="http://about.me/shibbir" class="th radius" target="blank">
            <img ng-src="/Content/Images/{{authenticatedUser.ImageFileName}}" alt="profile" />
        </a>
    </div>
</div>

<hr />

<h5>BookArena is a <a href="http://en.wikipedia.org/wiki/Single-page_application">SPA</a> based basic library management system built with these awesome tools:</h5>

<ul>
    <li><a target="_blank" href="http://angularjs.org/">AngularJS</a></li>
    <li><a target="_blank" href="http://www.asp.net/mvc">ASP.NET MVC 5</a></li>
    <li><a target="_blank" href="http://www.asp.net/identity">ASP.NET Identity</a></li>
    <li><a target="_blank" href="http://automapper.org/">AutoMapper</a></li>
    <li><a target="_blank" href="http://www.asp.net/entity-framework">Entity Framework</a></li>
    <li><a target="_blank" href="http://codeseven.github.io/toastr/">Toastr</a></li>
    <li><a target="_blank" href="http://foundation.zurb.com/">Foundation</a></li>
    <li><a target="_blank" href="http://www.oesmith.co.uk/morris.js/">MorrisJS</a></li>
</ul>