<h2 class="content-header">Administrator Profile</h2>
<hr />

<div class="row">
    <div class="small-9 large-9 columns">
        <h3>Name: {{authenticatedUser.Name}}</h3>
        <h3>Website: <a href="{{authenticatedUser.Website}}" target="blank">{{authenticatedUser.Website}}</a></h3>
        <h3>Address: {{authenticatedUser.Address}}</h3>
    </div>
    <div class="small-3 large-3 columns">
        <a href="http://about.me/shibbir" class="th radius" target="blank">
            <img ng-src="/Content/Images/{{authenticatedUser.ImageFileName}}" alt="profile" />
        </a>
    </div>
</div>