<h2 class="content-header">Update Book Information</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/books">Books</a></li>
    <li><a ng-href="#/books/{{vm.book.id}}">Details</a></li>
    <li class="current"><a>Edit</a></li>
</ul>

<form name="vm.BookEditForm" novalidate ng-submit="vm.update()">
    <div class="ui-error-container" ng-if="vm.BookEditForm.submitted && vm.BookEditForm.$invalid">
        <div ng-messages="vm.BookEditForm.Title.$error">
            <span ng-message="required">The Title field is required.</span>
        </div>
        <div ng-messages="vm.BookEditForm.Author.$error">
            <span ng-message="required">The Author field is required.</span>
        </div>
        <div ng-messages="vm.BookEditForm.Category.$error">
            <span ng-message="required">The Category field is required.</span>
        </div>
        <div ng-messages="vm.BookEditForm.Quantity.$error">
            <span ng-message="required">The Quantity field is required.</span>
        </div>
        <div ng-messages="vm.BookEditForm.ShortDescription.$error">
            <span ng-message="maxlength">The ShortDescription field must be at most 500 characters long.</span>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">

            <div class="row">
                <div class="large-8 columns">
                    <label>Title <span class="red required-star">*</span></label>
                    <input type="text" ng-model="vm.book.title" name="Title" required />
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label>Author <span class="red required-star">*</span></label>
                    <input type="text" ng-model="vm.book.author" name="Author" required />
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <label>Category <span class="red required-star">*</span></label>
                    <select name="Category" ng-model="vm.book.categoryId" ng-options="option.id as option.title for option in vm.categories" required></select>
                </div>
            </div>
            <div class="row">
                <div class="large-10 columns">
                    <label>Short Description</label>
                    <textarea placeholder="Short Description. e.g main topic, category etc." ng-model="vm.book.shortDescription" name="ShortDescription" ng-maxlength="500"></textarea>
                </div>
            </div>

            <div class="row" ng-if="vm.book.rating">
                <div class="large-8 columns">
                    <label>Rating</label>
                    <div cd-rating-input="{{vm.book.rating}}"></div>
                    <p style="color: #27ae60;">Rating: <span id="Rating"></span></p>
                </div>
            </div>

            <button type="submit" class="button medium-3">Update</button>

            <div class="spinner inline-spinner left" ng-if="vm.editingBook">
                <div></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="large-4 columns">
            <div class="row">
                <div class="large-12 columns">
                    <label>Change Book Cover</label>
                    <div class="th upload-preview-wrapper">
                        <img src="/Content/Images/question_mark.png" ng-src="{{ vm.book.imageFilePath }}" alt="{{ vm.book.title }}" />
                    </div>
                    <input type="file" title="Select photo" multiple accept="image/*" ngf-pattern="'image/*'" ngf-select ngf-change="vm.uploadPhoto($file)" />
                </div>
            </div>
        </div>
    </div>
</form>