<button class="button" ng-disabled="cleared" ng-click="vm.receiveBook(vm.transactionDetail.id)" ng-if="authenticatedUser.hasRegistered && vm.transactionDetail.isActive">Receive</button>

<h2 class="content-header">Transaction Details</h2>
<hr />

<ul class="breadcrumbs">
    <li><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/transactions">Transactions</a></li>
    <li class="current"><a>Details</a></li>
</ul>

<div ng-if="!vm.transactionDetail" class="block text-center red"><strong>Sorry, No transaction history found!</strong></div>

<div ng-if="vm.transactionDetail" class="transaction-details">
    <div class="panel callout radius">
        <h4>Transaction Details</h4>
    </div>

    <h5>Borrowed Date: {{vm.transactionDetail.formattedBorrowedDate}}</h5>
    <h5>Last Submission Date: {{vm.transactionDetail.formattedLastSubmissionDate}}</h5>
    <h5>Book Serial: {{vm.transactionDetail.bookUniqueKey}}</h5>
    <h5>Status: {{vm.transactionDetail.status}}</h5>
    <h5>IsActive: {{vm.transactionDetail.isActive}}</h5>

    <div class="primary callout">
        <h4>Book Details</h4>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="small-7 large-7 columns">
            <h5>{{vm.transactionDetail.book.title}}</h5>
            <p>By {{vm.transactionDetail.book.author}}</p>
            <span ng-if="vm.transactionDetail.book.rating">
                Rating: <span cd-rating="{{vm.transactionDetail.book.rating}}"></span>
            </span>
            <p>
                Category: <a ng-href="#/categories/{{vm.transactionDetail.book.categoryId}}/books">{{vm.transactionDetail.book.categoryTitle}}</a>
            </p>
            <p>
                <a ng-href="#/books/{{vm.transactionDetail.book.id}}">More Details</a>
            </p>
        </div>
        <div class="small-5 large-5 columns">
            <div class="book-body">
                <img ng-src="{{vm.transactionDetail.book.imageFilePath}}" alt="{{vm.transactionDetail.book.title}}"/>
            </div>
        </div>
    </div>

    <div class="primary callout">
        <h4>Borrower Details</h4>
    </div>

    <h5>Name: {{vm.transactionDetail.student.firstName}} {{vm.transactionDetail.student.lastName}}</h5>
    <h5>Id Card: {{vm.transactionDetail.student.idCardNumber}}</h5>
    <h5>Batch: {{vm.transactionDetail.student.batch}}</h5>
    <h5>Program: {{vm.transactionDetail.student.program}}</h5>
    <p>
        <a ng-href="#/students/student/{{vm.transactionDetail.student.id}}">More Details</a>
    </p>
</div>