<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"> <h1><a href="/">BookArenaApp</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right" ng-show="authenticatedUser.isAuthenticated">
            <li class="has-dropdown">
                <a href="#">Hello, {{authenticatedUser.name}}</a>
                <ul class="dropdown">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul> <!-- Left Nav Section -->
        <div class="topbar-app-info">Library Management System</div>
    </section>
</nav>