<div class="sidebar">
    <h3>Quick Links</h3>
    <ul class="side-nav">
        <li class="divider"></li>
        <li><h4 class="subheader">Home</h4></li>
        <li>
            <a ng-href="#/">Home <i class="fi-home"></i></a>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Student</h4></li>
        <li>
            <a ng-click="checkForPermisssionBefore('/students/')">All Student</a>
            <span class="red required-star">*</span>
        </li>
        <li>
            <a ng-click="checkForPermisssionBefore('/students/add/')">Register Student</a>
            <span class="red required-star">*</span>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Book Section</h4></li>
        <li><a ng-href="#/books">All Books</a></li>
        <li><a ng-href="#/categories">Category</a></li>
        <li>
            <a ng-click="checkForPermisssionBefore('/books/add/')">Upload New Book</a>
            <span class="red required-star">*</span>
        </li>
        <li>
            <a ng-click="checkForPermisssionBefore('/books/add/')">Upload New Book</a>
            <span class="red required-star">*</span>
        </li>
        <li class="divider"></li>
        <li><h4 class="subheader">Settings</h4></li>
        <li>
            <a ng-click="checkForPermisssionBefore('/account/settings/')">
                App Settings
                <i class="fi-wrench"></i>
            </a>
            <span class="red required-star">*</span>
        </li>
    </ul>
    <a ng-href="#/account/login/" class="button medium-12 info" ng-hide="authenticatedUser.IsAuthenticated">Login Page</a>
    <small class="red">* Requires Login</small>
</div>