.sidebar {
    background: none repeat scroll 0 0 #FAFAFA;
    padding: 0 20px 32px;
}

.body-content {
    padding: 0 20px 32px 0;
}

.book-wrapper {
    clear: both;
}

.book-wrapper a {
    text-decoration: none;
    color: #CCCCCC;
}

.side-nav a:hover {
    text-decoration: underline !important;
}

.books {
    float: left;
    height: 155px;
    margin-bottom: 70px;
    margin-right: 93px;
    width: 140px;
}

.book-body {
    background-color: #000000;
    border: 1px solid #CCCCCC;
    height: 160px;
    text-align: center;
    width: 122px;
}

.book-footer {
    font-size: 13px;
    margin-top: 10px;
}

.red {
    color: red;
}
.green {
    color: green;
}
.note {
    color: orange;
}

.required-star {
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
}

.side-nav li a {
    display: inline-block !important;
}

.toast-message {
    font-size: 12px;
}

.topbar-app-info {
    color: #FFFFFF;
}
textarea {
    min-height: 150px;
}

select {
    margin: 0;
}

.categoryBlock {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-box-shadow: 1px 1px 3px 1px #CCCCCC;
    -ms-box-shadow: 1px 1px 3px 1px #CCCCCC;
    box-shadow: 1px 1px 3px 1px #CCCCCC;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 13px;
    padding: 5px;
    width: 220px;
}

.pull-right {
    float: right;
}

h5.category-header {
    color: #FF9900;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.block {
    background: none repeat scroll 0 0 #FFFFFF;
    -webkit-box-shadow: 0 2px 9px 0 #CCCCCC;
    -ms-box-shadow: 0 2px 9px 0 #CCCCCC;
    box-shadow: 0 2px 9px 0 #CCCCCC;
    padding: 50px;
}

h2.content-header {
    line-height: 50px;
}

.side-nav {
    padding-top: 25px;
}