body {
    font-family: 'Open Sans', sans-serif;
}

footer.credit {
    color: #FFFFFF !important;
    padding: 15px;
}

footer.credit a, footer.credit a:hover {
    text-decoration: underline;
    color: #FFFFFF !important;
}

footer.credit a:hover {
    text-decoration: none;
}

.sidebar {
    background: none repeat scroll 0 0 #FAFAFA;
    padding: 0 20px 32px;
}

#wrapper {
    background: none repeat scroll 0 0 #FAFAFA;
    border-left: 1px solid #ECF0F1;
}

#LoginForm .row {
    margin-bottom: 20px;
}

.body-content {
    color: #FFFFFF;
    margin-top: -3px;
    min-height: 608px !important;
    padding: 0 10px;
}

.body-content h1, .body-content h2, .body-content h3, .body-content h4, .body-content h5, .body-content h6, .body-content label {
    color: white;
}

.book-wrapper a {
    text-decoration: none;
    color: #CCCCCC;
}

.side-nav a:hover {
    text-decoration: underline !important;
}

.books {
    float: left;
    margin-bottom: 25px;
    margin-right: 10px;
    width: 140px;
}

.latest-books {
    float: left;
    margin-bottom: 12px;
    margin-right: 11px;
}

.latest-books:last-child {
    margin-right: 0;
}

.book-body {
    background-color: #000000;
    height: 160px;
    text-align: center;
    width: 122px;
}

.book-footer {
    font-size: 13px;
    margin-top: 10px;
}

.red {
    color: #C0392B;
}
.green {
    color: #16A085;
}
.note {
    color: #e67e22;
}

.full-width {
    width: 100% !important;
}

.required-star {
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
}

.side-nav li a {
    display: inline-block !important;
}

.toast-message {
    font-size: 12px;
}

.topbar-app-info {
    color: #FFFFFF;
}
textarea {
    min-height: 150px;
}

select.error {
    margin: 0;
}

.categoryBlock {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
    width: 215px;
}

.pull-right {
    float: right;
}

h5.category-header {
    color: #FF9900;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.block {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 50px;
}

h2.content-header {
    line-height: 50px;
}

.side-nav {
    padding-top: 25px;
}

.loan-button {
    left: 0;
    margin-left: 72%;
    position: absolute;
    width: 200px;
}

.widget {
    margin-bottom: 10px;
}
.widget-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 0, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #C9C9C9;
    -webkit-border-image: none;
    -moz-border-image: none;
    -ms-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -ms-box-shadow: 0 1px 0 #FFFFFF inset;
    box-shadow: 0 1px 0 #FFFFFF inset;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
.widget-header h4 {
    color: #222222 !important;
}
.widget-body {
    background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    -webkit-box-shadow: 0 1px 0 #FFFFFF inset;
    -ms-box-shadow: 0 1px 0 #FFFFFF inset;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 15px 15px 0;
}

.bouncespinner {
  width: 70px;
}

.bouncespinner > div {
    width: 18px;
    height: 18px;
    background-color: #1ABC9C;
    -ms-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    -moz-animation: bouncedelay 1.4s infinite ease-in-out;
    -ms-animation: bouncedelay 1.4s infinite ease-in-out;
    -o-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bouncespinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    -ms-animation-delay: -0.32s;
    -o-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.bouncespinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    -moz-animation-delay: -0.16s;
    -ms-animation-delay: -0.16s;
    -o-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0) transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale(1.0) transform: scale(1.0);
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
        -moz-transform: scale(0.0);
        -ms-transform: scale(0.0);
        -o-transform: scale(0.0);
        transform: scale(0.0);
    }

    40% {
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
/************************/

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.inline-spinner {
    margin-top: 10px !important;
}

.spinner > div {
    background-color: #1ABC9C;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    -moz-animation: stretchdelay 1.2s infinite ease-in-out;
    -ms-animation: stretchdelay 1.2s infinite ease-in-out;
    -o-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    -moz-animation-delay: -1.1s;
    -ms-animation-delay: -1.1s;
    -o-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    -moz-animation-delay: -1.0s;
    -ms-animation-delay: -1.0s;
    -o-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    -moz-animation-delay: -0.9s;
    -ms-animation-delay: -0.9s;
    -o-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    -moz-animation-delay: -0.8s;
    -ms-animation-delay: -0.8s;
    -o-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -ms-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@-moz-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -ms-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        -moz-transform: scaleY(0.4);
        -ms-transform: scaleY(0.4);
        -o-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        -moz-transform: scaleY(1.0);
        -ms-transform: scaleY(1.0);
        -o-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

.error-message {
    color: #D35400;
    font-weight: bold;
}
#CategoryAddModal, #CategoryEditModal {
    width: 420px !important;
    padding: 15px !important;
}

.my-repeat-animation.ng-enter,
.my-repeat-animation.ng-leave,
.my-repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
}

.my-repeat-animation.ng-enter {
    left: -10px;
    -ms-opacity: 0;
    opacity: 0;
}

.my-repeat-animation.ng-enter.ng-enter-active {
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.my-repeat-animation.ng-leave {
    left: 0;
    -ms-opacity: 1;
    opacity: 1;
}

.my-repeat-animation.ng-leave.ng-leave-active {
    left: -10px;
    -ms-opacity: 0;
    opacity: 0;
}

.my-repeat-animation.ng-move {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.my-repeat-animation.ng-move.ng-move-active {
    -ms-opacity: 1;
    opacity: 1;
}

/* Small screens */

@media only screen and (max-width: 40em) {
    .row .row {
        margin: 0 auto;
    }
    .loan-button {
        height: 30px;
        margin-left: 77%;
        padding: 0;
        width: 70px;
    }
    #wrapper {
        border-left: none;
    }
    h2.content-header {
        font-size: 18px;
        line-height: 30px;
    }

    footer.credit {
        font-size: 12px;
    }

    .widget .widget-header, .widget .widget-body, .column, .columns {
        padding-left: 5px;
        padding-right: 5px;
    }

    .widget-body .latest-books {
        margin-right: 5px;
    }

    .latest-books .book-body {
        width: 112px;
    }

    hr {
        margin: 10px 0;
    }

    #category-container .categoryBlock {
        margin-right: 5px;
        width: 135px;
    }

    .reveal-modal {
        min-height: 0;
    }

    #CategoryAddModal, #CategoryEditModal {
        width: 300px !important;
    }

    button.tiny, .button.tiny {
        padding: 5px 10px;
    }

    .book-wrapper .books {
        margin-right: 5px;
        width: 135px;
    }
}

/* Medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { }