<h2 class="content-header">All Books</h2>
<hr />

<div ng-if="!vm.categories.length" class="block text-center red"><strong>Sorry, BookArena library is currently empty!</strong></div>

<div id="book-container" ng-if="vm.categories.length">
    <input type="search" ng-model="vm.searchText" placeholder="filter books by name, author or category"/>

    <div ng-repeat="category in vm.categories | filter: vm.searchText" class="book-wrapper clearfix">
        <div class="success callout" ng-bind="category.title"></div>

        <div ng-if="!category.books.length">
            <h4>No books are available in this category.</h4>
        </div>

        <div ng-if="category.books.length" ng-repeat="book in category.books | filter: vm.searchText" class="books">
            <div class="book-body">
                <a ng-href="#/books/{{book.id}}">
                    <img ng-src="{{book.imageFilePath}}" alt="{{book.title}}"/>
                </a>
            </div>
        </div>
    </div>
</div>